[user]
	name = Craig Govender
	email = craig.govender@rank.com
	username = craigiswayne
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[push]
	default = current
[color]
	ui = true
[alias]
	pushall = !git remote | xargs -L1 git push --all
	conflicts = !git ls-files -u | cut -f 2 | sort -u && echo "Finished git conflicts"
	pruner = !git prune --expire=now && git reflog expire --expire-unreachable=now --rewrite --all && git fetch --all --prune && git gc --prune && git remote prune origin && echo "Finished git pruner"
	switch = !node ~/www/craigiswayne.github.com/dotfiles/git/git.js switch "$@"
[fetch]
    prune = true
[github]
    user = craigiswayne
